extends ./layouts/index.pug

block content
    div(class="alert alert-success" role="alert")='Ingrese producto'
    form(action="/productos" method="post" class="padding-10")
        div(class="mb-3")
            label(class="form-label" for="nombre")='Nombre'
            input(type="text" id="nombre" class="form-control" name="nombre")

        div(class="mb-3")
            label(class="form-label" for="precio")='Precio'
            input(type="text" id="precio" class="form-control" name="precio")

        div(class="mb-3")
            label(class="form-label" for="foto")='Foto Url'
            input(type="text" id="foto" class="form-control" name="foto")

        input(type="submit" id="foto" class="btn btn-primary" value="Confirmar")

    a(href="/productos")
        button(class="btn btn-link")='Ir a catalogo'

